.shoppingCart {
    padding: 40px 0;
    background-color: #F8F8F8;
}

    .shoppingCart .deliverDiv {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

        .shoppingCart .deliverDiv p {
            margin: 0;
            font-size: 15px;
        }

        .shoppingCart .deliverDiv button {
            color: var(--primary);
            border: 1px solid #b9b9b9;
            background-color: #fff;
            border-radius: 3px;
            padding: 3px 10px;
            font-weight: 500;
            font-size: 14px;
        }

    .shoppingCart .product1 {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        margin: 0 0 20px;
        background-color: #fff;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
    }

        .shoppingCart .product1 .leftCol {
            display: flex;
            justify-content: start;
            gap: 25px;
        }

            .shoppingCart .product1 .leftCol h5:hover {
                color: var(--secondary);
                font-weight: 500;
                cursor: pointer;
            }

            .shoppingCart .product1 .leftCol img {
                height: 120px;
                width: 120px;
                object-fit: contain;
            }

            .shoppingCart .product1 .leftCol h6 > span {
                color: var(--primary);
            }

            .shoppingCart .product1 .leftCol button {
                color: black;
                border: 1px solid silver;
                padding: 2px 18px;
                background-color: #fff;
                margin-top: 5px;
                font-weight: 600;
                border-radius: 3px;
            }

        .shoppingCart .product1 .rightCol {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

            .shoppingCart .product1 .rightCol input {
                background: #dc3545;
                color: #fff;
                border: none;
                outline: none;
                padding: 2px 8px;
                font-weight: 600;
                border-radius: 2px;
                font-size: 14px;
            }

        .shoppingCart .product1 .quantity {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 0;
            margin-top: 10px;
        }

        .shoppingCart .product1 .quantity__minus,
        .quantity__plus {
            display: block;
            width: 30px;
            height: 25px;
            margin: 0;
            background: #dee0ee;
            text-decoration: none;
            text-align: center;
            line-height: 23px;
        }

            .shoppingCart .product1 .quantity__minus:hover,
            .quantity__plus:hover {
                background: #575b71;
                color: #fff !important;
            }

        .shoppingCart .product1 .quantity__minus {
            border-radius: 3px 0 0 3px;
            border: none;
        }

        .shoppingCart .product1 .quantity__plus {
            border-radius: 0 3px 3px 0;
            border: none;
        }

        .shoppingCart .product1 .quantity__input {
            width: 32px;
            height: 25px;
            margin: 0;
            padding: 0;
            text-align: center;
            border-top: 2px solid #dee0ee;
            border-bottom: 2px solid #dee0ee;
            border-left: 1px solid #dee0ee;
            border-right: 2px solid #dee0ee;
            background: #fff;
            color: #000;
        }

        .shoppingCart .product1 .quantity__minus:link,
        .quantity__plus:link {
            color: #8184a1;
        }

        .shoppingCart .product1 .quantity__minus:visited,
        .quantity__plus:visited {
            color: #000;
        }

    .shoppingCart .cartPricing {
        background-color: #fff;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

        .shoppingCart .cartPricing h4 {
            color: #8f8f8f;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 7px;
            font-size: 19px;
        }

        .shoppingCart .cartPricing .price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
        }

            .shoppingCart .cartPricing .price h5 {
                font-size: 15px;
                color: #535353;
                margin: 0;
            }

            .shoppingCart .cartPricing .price p {
                font-size: 14px;
                color: #535353;
                margin: 0;
            }

        .shoppingCart .cartPricing .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
        }

            .shoppingCart .cartPricing .total h5 {
                font-size: 18px;
                color: #000;
                margin: 0;
            }

            .shoppingCart .cartPricing .total p {
                font-size: 17px;
                color: #000;
                font-weight: 600;
                margin: 0;
            }

        .shoppingCart .cartPricing hr {
            color: #535353;
        }

        .shoppingCart .cartPricing div > strong {
            color: #388e3c;
        }
