.shoppingCart {
    background-color: #F8F8F8;
}

.shoppingCart .deliverDiv {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.shoppingCart .deliverDiv p {
    margin: 0;
    font-size: 15px;
}

.shoppingCart .deliverDiv button {
    color: var(--primary);
    border: 1px solid #b9b9b9;
    background-color: #fff;
    border-radius: 3px;
    padding: 3px 10px;
    font-weight: 500;
    font-size: 14px;
}

.shoppingCart .product1 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 0 0 20px;
    background-color: #fff;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
}

.shoppingCart .product1 .leftCol {
    display: flex;
    justify-content: start;
    gap: 25px;
}

.shoppingCart .product1 .leftCol img {
    height: 120px;
    width: 120px;
    object-fit: contain;
}

.shoppingCart .product1 .leftCol p {
    font-size: 14px;
}

.shoppingCart .product1 .leftCol h6>span {
    color: var(--primary);
}

.shoppingCart .product1 .leftCol button {
    color: black;
    border: 1px solid silver;
    padding: 2px 18px;
    background-color: #fff;
    margin-top: 5px;
    font-weight: 600;
    border-radius: 3px;
}

.shoppingCart .product1 .rightCol {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shoppingCart .product1 .rightCol button {
    background: #dc3545;
    color: #fff;
    border: none;
    outline: none;
    padding: 7px 15px;
    font-weight: 600;
    border-radius: 2px;
    font-size: 13px;
    text-transform: capitalize;
    cursor: pointer;
}

.shoppingCart .cartPricing {
    background-color: #fff;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.shoppingCart .cartPricing h4 {
    color: #8f8f8f;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    font-size: 19px;
    margin: 0;
    margin-bottom: 10px;
}

.shoppingCart .cartPricing .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.shoppingCart .cartPricing .price h5 {
    font-size: 15px;
    color: #535353;
    margin: 0;
}

.shoppingCart .cartPricing .price p {
    font-size: 14px;
    color: #535353;
    margin: 0;
}

.shoppingCart .cartPricing .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 10px;
}

.shoppingCart .cartPricing .total h5 {
    font-size: 18px;
    color: #000;
    margin: 0;
}

.shoppingCart .cartPricing .total p {
    font-size: 17px;
    color: #000;
    font-weight: 600;
    margin: 0;
}

.shoppingCart .btnsuccess {
    background: #388e3c;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 2px;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}

.shoppingCart .cartPricing hr {
    color: #535353;
}

.shoppingCart .cartPricing div>strong {
    color: #388e3c;
}

.shoppingCart h5 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.shoppingCart h5:hover {
    color: var(--primary);
    cursor: pointer;
}

.shoppingCart h6 {
    margin: 0;
    color: #3a3a3a;
    font-size: 14px;
    text-transform: capitalize;
}

/* quantity  */
.shoppingCart .quantity {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0 0;
}

.shoppingCart .quantity input[type="button"] {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 17px;
}

.shoppingCart .quantity h6 {
    margin: 0;
}

.shoppingCart .PriceSection {
    font-size: 17px;
}